# include "test3_output/traindir/auxiliary/segway.inc"
MEAN_IN_FILE inline
3

0 deletion 1 -0.4
1 neutral 1 -0.14
2 gain 1 -0.11
COVAR_IN_FILE inline
1

0 tied 1 0.1
DENSE_CPT_IN_FILE inline
2

0 start 0 3
0.3333333333333333 0.3333333333333333 0.3333333333333333

1 transition 1 3 3
0.5 0.25 0.25
0.25 0.5 0.25
0.25 0.25 0.5

DPMF_IN_FILE inline
1

0 uniform 1 1.0
MC_IN_FILE inline
3

0 1 COMPONENT_TYPE_DIAG_GAUSSIAN deletion deletion tied
1 1 COMPONENT_TYPE_DIAG_GAUSSIAN neutral neutral tied
2 1 COMPONENT_TYPE_DIAG_GAUSSIAN gain gain tied
MX_IN_FILE inline
3

0 1 deletion 1 uniform deletion
1 1 neutral 1 uniform neutral
2 1 gain 1 uniform gain

